
<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
<title>Remote Proctoring System</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">

<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<!-- Pixel CSS -->
<!-- <link type="text/css" rel="stylesheet" href="/static/css/pixel.css'"> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% block head %}{% endblock %}
  </head>
  <body>
    <!--<div class="container">-->
      {% block body %}{% endblock %}
    <!--</div>-->

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Core -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script async defer src="https://buttons.github.io/buttons.js"></script>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <footer id="sticky-footer" class="py-4">
  <!-- <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                <p class="font-weight-bold font-medium mb-0">Copyright © MyProctor.ai
                    <span class="current-year"><script>document.write(new Date().getFullYear())</script>
                    </span>. All rights reserved.</p>
  </div><br> -->
  <!-- <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
        <p class="font-weight-bold font-small mb-0"><span><a href="https://www.narenderkeswani.com/">Made with &#128151 By NARENDER KESWANI</a></span></p> -->
<!-- </div> -->
</footer>
</body>
</html>